.recognitions {
    padding: 2rem;
    background-color: #FFD966;
    text-align: center;
  
    .title {
      font-family: "Nunito", sans-serif;
      font-size: 48px;
      font-weight: 700;
      line-height: 76px;
      letter-spacing: -0.02em;
      text-align: center;
      color: #000000;
      margin-bottom: 3rem;
    }
  
    .carousel {
      overflow: hidden;
      position: relative;
      width: 100%;
      max-width: 1200px;
      margin: 0 auto;
  
      .carousel-track {
        display: flex;
        animation: scroll 20s linear infinite;
  
        .slide {
          flex: 0 0 auto;
          width: 150px;
          padding: 0 1rem;
  
          img {
            max-width: 100%;
            min-width: 130px;
            max-height: 130px;
            object-fit: contain;
          }
        }
      }
    }
  }
  
  // Keyframes for smooth infinite scrolling
  @keyframes scroll {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(-100%);
    }
  }
  